VITE_SUPABASE_URL=https://pfadvvycwjtutwlsuldc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmYWR2dnljd2p0dXR3bHN1bGRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU5MDc2MjksImV4cCI6MjA3MTQ4MzYyOX0.ywKmZoe31tJwBoyZk3nRH6K09y8CE6XY0zNTiA7OfZM
